# dependencies
node_modules/

# next build output
.next/
out/
dist/

# logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.log

# env & local
.env
.env.*.local
.env.local
.vercel/
.turbo/

# editor
.vscode/
.idea/
